@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
44444E Black
1E1E1E Grey
D3DAD9 Cream
715A5A Brown
*/

.example {
  @apply px-16 py-4 bg-green-500 text-white rounded hover:bg-green-700 transition;
}

.red-title {
  @apply text-red-500;
  @apply text-4xl font-bold text-center;
}

.sectionHome {
  @apply flex flex-col items-center justify-center flex-1 space-y-6 px-4;
}

.pHome {
  @apply text-lg text-white text-center;
}

.allpage {
	@apply text-white;
  @apply min-h-screen flex flex-col pt-20;
	background: #44444E;
}

.navBar {
  @apply fixed top-0 left-0 w-full flex justify-between items-center px-8 py-4 bg-gray-800 shadow-md z-50;
  background: #1E1E1E;
}

.homeBtn {
  @apply px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition;
}

.projectBtn {
  @apply px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition;
}

.buttonsNav{
  @apply space-x-4;
}

.scrabbleDiv {
  background: #EEEE;
  @apply text-black py-5 text-center;
  
}